.intro,
.extras {
  padding-top: 1rem;
  background-color: #ffcf99;
  text-align: center;
}

.intro-text {
  padding-bottom: 1rem;
}

.science-keyhole {
  padding-top: 1rem;
  width: 80px;
}

.explore-h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0;
}

.explore {
  display: flex;
  flex-direction: column;
}

.explore img {
  width: 395px;
  border-radius: 30px;
}

.kids,
.teachers,
.researchers {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 1.5rem;
  margin: 0.5rem auto;
}

#kids,
#teachers,
#researchers,
.hidden-kids,
.library-photo,
.white-exhibit,
.hidden-teachers,
.hidden-researchers,
#kids:checked ~ label,
#teachers:checked ~ label,
#researchers:checked ~ label {
  display: none;
}

.mobile-img,
.newsletter label,
#kids:checked ~ .hidden-kids,
#teachers:checked ~ .hidden-teachers,
#researchers:checked ~ .hidden-researchers {
  display: block;
}

.index-news ul {
  text-align: left;
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

.newsletter input {
  width: 230px;
  max-width: 100%;
  border: 2px solid #205567;
  border-radius: 3px;
  margin: 1rem 0;
  padding: 6px;
}

.newsletter button {
  padding: 6px;
  background-color: #5cadba;
  border: 1px solid;
}

.text-wrapper,
.visit,
.facilities {
  padding: 1rem;
}

.funfact-wrapper {
  background-color: #ffcf99;
  text-align: center;
  padding: 1rem;
}

.funfact {
  background-color: #205567;
  padding: 1rem;
}

.funfact-wrapper {
  width: 550px;
  max-width: 100%;
  margin: 1rem auto;
  border-radius: 30px;
}

.funfact-wrapper img {
  width: 80px;
}

.visit,
.facilities div {
  max-width: 400px;
  margin: auto;
}

.map {
  max-width: 400px;
}

.admission {
  max-width: 600px;
  margin: 0 auto;
}

.facilities {
  text-align: center;
}

.facilities img {
  max-width: 80px;
}

@media (min-width: 850px) {
  .intro-text h2 {
    width: 400px;
    margin: auto;
  }

  .intro,
  .extras {
    display: flex;
    padding: 0;
    align-items: center;
  }

  .intro-text {
    width: 50%;
  }

  .intro-image {
    background-image: url("../images/roberto-nickson-396152.jpg");
    height: 400px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  .explore {
    flex-direction: row;
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }

  .explore div {
    margin: 0.5rem auto;
  }

  .researchers {
    padding-bottom: 2.5rem;
  }

  .mobile-img {
    display: none;
  }

  .news {
    width: 40%;
  }

  .index-news,
  .newsletter {
    margin: 1rem;
  }

  .dino {
    width: 60%;
    background-image: url("../images/amy-leigh-barnard-SByb8Ch9XcQ-unsplash.jpg");
  }

  .exhibit {
    display: flex;
    align-items: center;
  }

  .cosmos,
  .evol,
  .bio,
  .robo,
  .eco {
    width: 50%;
  }

  .exhibit-images {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  .cosmos {
    background-image: url("../images/leti-tamrat-LZe7UkGrskI-unsplash.jpg");
  }

  .evol {
    background-image: url("../images/mammoth-1257288_1920.jpg");
  }

  .bio {
    background-image: url(../images/heart-2607178_1920.jpg);
  }

  .robo {
    background-image: url(../images/andy-kelly-0E_vhMVqL9g-unsplash.jpg);
  }

  .eco {
    background-image: url(../images/alexander-abero-OypnYfdiQgg-unsplash.jpg);
  }

  .text-wrapper {
    padding: 1rem 2rem;
    width: 50%;
  }

  .funfact-wrapper {
    margin: 2rem auto;
  }

  .funfact-lightbulb:hover,
  .science-keyhole:hover {
    animation: rotate 0.5s;
  }

  @keyframes rotate {
    10% {
      transform: rotate(60deg);
    }
    20% {
      transform: rotate(90deg);
    }
    30% {
      transform: rotate(120deg);
    }
    50% {
      transform: rotate(180deg);
    }
    70% {
      transform: rotate(240deg);
    }
    90% {
      transform: rotate(300deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .white-exhibit,
  .library-photo {
    display: inline-block;
  }

  .visit-photos {
    display: flex;
  }

  .visit,
  .facilities {
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    margin: 2rem auto;
  }

  .location {
    display: flex;
    margin: auto;
  }

  .location > * {
    flex: 1;
  }
}
