@import url(content.css);

@font-face {
  font-family: "Cantarell";
  src: url("../fonts/Cantarell-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Cantarell", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #5cadba;
  margin: 0;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1 {
  display: block;
  font-size: 1.5rem;
  background-color: #205567;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.12rem;
}

a {
  color: #000;
}

img {
  max-width: 100%;
}

.bold {
  font-weight: 600;
}

.underscore {
  text-decoration: underline;
}

header {
  padding: 0 1rem;
}

.scroll-up {
  background-color: #205567;
  text-align: center;
}

.scroll-up img {
  width: 50px;
  margin: 0.5rem;
}

.cta {
  color: #000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #5cadba;
  border: 1px solid #205567;
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  margin: 1rem 0;
}

.cta:hover {
  background-color: #205567;
  color: #fff;
}

.bg-properties {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

nav,
.search-label,
.desktop-logo,
#menu-checkbox {
  display: none;
}

.logos {
  width: 21rem;
  max-width: 100%;
  margin: auto;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.hamburger-menu {
  display: block;
  margin: 0.3rem 0.3rem 1rem 0rem;
  min-width: 40px;
}

nav {
  position: absolute;
  background-color: #5cadba;
  margin-top: 2rem;
}

nav a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 0.7rem;
}

.active {
  background-color: #ffcf99;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.search-container {
  width: 280px;
}

.search {
  border-radius: 25px;
  border: 2px solid #205567;
  height: 35px;
  width: 100%;
  background-image: url("../images/assets/search_icon.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px;
  padding-left: 40px;
}

footer {
  font-size: 0.8rem;
  padding: 1rem;
}

.footer-text {
  display: flex;
  justify-content: space-around;
  margin: 0 2rem;
}

.footer-text a {
  text-decoration: none;
  color: #000;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer img {
  width: 50px;
}

footer span,
.visit span,
.staff-member span {
  display: block;
}

.socials {
  padding: 1rem 0;
  text-align: center;
}

.footer-support1,
.footer-support2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

@media (min-width: 850px) {
  .hamburger-menu,
  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  header {
    padding: 0 0 1rem 0;
  }

  .menu {
    margin: 0 1rem;
  }

  .logos {
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 70%;
    margin-top: 0;
  }

  nav a {
    padding: 0.5rem 1rem;
  }

  nav a:hover {
    background-color: #ffcf99;
    padding: 0.5rem 1rem;
  }

  footer {
    display: flex;
  }

  footer > * {
    flex: 1;
  }

  .socials {
    padding: 0;
  }
}
